.pageHeader {
  font-family: var(--font-lexend);
  font-weight: 300;
  background-image: linear-gradient(to top, #1d1d1d, #2b2b2b);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #fcf9fc;
}